.table-of-content-stripe {
    position: sticky;     /* Changed to sticky */
    top: 0;              /* Stick to top when scrolling */
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;          /* Higher than header when scrolling */
    margin-top: 0;       /* Remove margin since we're using sticky */
  }
  
  .button {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    font-family: "Outfit", serif;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgb(147, 190, 240);
  }

  .project-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Outfit", serif;
    text-align: center;
  }
  
  img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .link-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Outfit", serif;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: rgb(147, 190, 240);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    top: 70%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 153px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




@media (max-width: 768px) {
    .header {
        height: 0px;
    }
    .header-text{
        left: 0px;
    }
    .header {
        position: relative;
    }
    .header-text{
        font-size: 30px;
    }
    .links.active {
        transform: translateX(0);
    }

    .links li {
        margin: 15px 0;
    }
}